
body{
  font-family: 'Lora', serif;
  background-color: #FAECD6;
  margin:0;
  font-size:larger;
}

h1{
  font-family: 'Amita', cursive;
  font-size: 4.375rem; /*Taille dynamique : 100% = 16px. Pour 70px ==> 70/16=437.5 ou utiliser
                      rem ==> 1em=16px pour 70px ==> 70/16=4.375rem : "r" correspond à root
                      donc même si on modifie la taille du texte dans body par, la taille h1
                      ne sera pas modifiée*/
  margin: 0px auto 0 auto;
  text-align: left;
  /*display: inline-block;*/
  color: #820000;
}

h2{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:2.5rem;
  text-align: left;
  /*display: inline-block;*/
  margin: 0px auto 15px auto;
  color:#4E6C50;
}

h3{
  font-family: 'PT Sans Narrow', sans-serif;
  color:#4E6C50;
}

hr{
  border-top: 5px dotted #820000;
  width: 450px;
  margin-left: 150px;
}

.titre_h1{
  font-family: 'Amita', cursive;
  font-size: 2.5rem; /*Taille dynamique : 100% = 16px. Pour 70px ==> 70/16=437.5 ou utiliser
                      rem ==> 1em=16px pour 70px ==> 70/16=4.375rem : "r" correspond à root
                      donc même si on modifie la taille du texte dans body par, la taille h1
                      ne sera pas modifiée*/
  margin: 0px auto 0 20px;
  text-align: left;
  display: inline-block;
  color: #820000;
}

.titre_h2{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:1.25rem;
  text-align: left;
  display: inline-block;
  margin: 0px auto 0 20px;
  color:#4E6C50;
}

/*Navigation*/
.header {
  overflow: hidden;
  background-color: #F2DEBA;
  padding: 20px 10px;
  border-bottom: 2mm ridge #820000;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #FAECD6;
  color: black;
}

.header a.active {
  background-color: #820000;
  color: white;
}

.header-right {
  float: right;
  padding-right: 15%;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.logo{
  font-family: 'Amita', cursive;
  font-size: 2.5rem;
  color: #820000;
}

.responsive-logo {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin:auto;
  filter: drop-shadow(8px 8px 10px gray);
  
}

.container1{
  display: flex;
  gap: 10px;
  margin : 50px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 600px;
  height: auto;
  background-color:#F2DEBA;
  filter: drop-shadow(8px 8px 10px gray);
  position: relative;
  animation-name: slideleft;
  animation-duration: 3s;
  animation-timing-function: forwards;
}

@keyframes slideleft {
0%   {right:-500px;}
100% {right:0;}
}

.container2{
  display: flex;
  gap: 10px;
  margin : 50px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 600px;
  height: auto;
  background-color:#F2DEBA;
  filter: drop-shadow(8px 8px 10px gray);
  position: relative;
  animation-name: slideright;
  animation-duration: 3s;
  animation-timing-function: forwards;
}

@keyframes slideright {
0%   {right:500px;}
100% {right:0;}
}

/* MENTIONS LEGALES */
#mentionslegales{
  width: 45%;
  margin: 15px auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

  #mentionslegales p, #mentionslegales a {
      font-size: 13px;
      margin: auto;
      text-align: center;
  }

  #mentionslegales a {
      text-decoration: none;
      transition: all 0.5s ease;
      font-weight: 500;
  }

      #mentionslegales a:hover {
          color: #5B5D70;
      }

  footer{
    display: flex;
    flex-direction: column;
    margin: auto;
  }

/* Partners */
.partners{
  /*display: flex;
  flex-direction: column;
  margin: auto 10px;*/
  display: flex;
  gap: 10px;
  margin : 50px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  height: auto;
}

.partners h2{
  margin: auto;
}

.partners div{
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5px;
  width: fit-content;
  /*display: flex;
  gap: 10px;
  margin : 50px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 60px;
  height: auto;*/
}

.partners div a{
  margin: auto 10px;
  width: 35px;
}

  .partners div a img {
      transition: all 0.8s ease;
      transform: scale(1);
  }

      .partners div a img:hover {
          transform: scale(1.1) perspective(1px);
      }